body {
	font-size: 22px;
}

body, button {
	color: white;
	background-color: black;
}

body>header>a, body>header>a>img{
		height: 40px;
		margin-top: 1px;
	}

body>header>a>img#logo{
	display: none;
}
body>header>a>img#logoWhite{
	display: block;
}
button, table, tr, th, td {
	border-color: white;
	border-width: 0.5em;
}
body>section{
	background-color: black;
}
body>section>div>article>footer>h4{
	color:white;
}
body>section>div>article>footer>h6{
	color:white;
	font-size: 22px;
}
body>section>div>article>footer{
	text-decoration-color: white;
	background-color: black;
}
body>header>div>nav>ul>li>a{
	font-size: 24px;
}
.fondoG{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
	border-top-color: #fff;
	color: #FFFFFF;
	background-color: black;
}
a {
	color: yellow;
}

a:visited {
	color: orange;
}

a:hover {
	color: white;
	outline: 0.25em solid lime;
}

*:focus {
	outline: 0.25em solid lime;
}

body>header>a>img {
	
	/*filter: invert(100%);*/
}

div.tabular, div.lstlisting, div.footnotes {
	background-color: #333;
}/* FORMULARIO INICIO SESION */
	body>header>div>form{
	margin-left: 6px;
    margin-top: 14px;
	font-size: 27px;

	}
	body>header>div>form>input[type="submit"]{
		text-align: center;
		width: 38px;
		cursor:pointer;
		border-radius: 5px;
		font-weight: bold;
	}
	body>header>div>form>input[type="text"],body>header>div>form>input[type="password"]{
		width: 95px;
		font-weight: bold;
		padding: 9px;
	}
	body>header>div>nav>ul>li{
		display: inline;
	}

	body>header>div>h1{
		margin-top:10px;
	}

