
.icon-home:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */