
	*{
  	font-family: Arial;
  	box-sizing: border-box; /*Con border-box, hacemos que el ancho especificado sea el equivalente al ancho total*/
	}
	
	body{
	
	max-width: 1600px;
	margin:auto ;/*¿¿poner auto??*/
	}

	input:focus {
  	border: 1px solid ;
	}

	/* LOGO */

	body>header>a, body>header>a>img{
		height: 40px;
		margin-top: 1px;
	}
	
	/* HEADER */

	body>header{
   	padding-top: 10px;
    padding-right: 10px;
    /* padding-bottom: 10px; */
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 0;
    position: sticky;
	}
	
	body>header>div{
    
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
	}

	
	/* NAVEGADOR */

	body>header>div>nav>ul>li:nth-of-type(3){ /*REGISTRARSE*/
	border-radius: 15px;
	}
	body>header>div>nav>ul>li:nth-of-type(3):hover{ /*REGISTRARSE*/
	border-radius: 15px;
	}

	body>header>div>nav>ul>li>a{
		font-size: 14px;
	cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    padding-right: .4em;
    padding-left: .4em;
    padding-bottom: .4em;
	}

	body>header>div>nav>ul>li>a {
		position: relative;
		overflow: hidden;
		display: inline-block;
		text-decoration: none;
		}
		
	body>header>div>nav>ul>li>a:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: -100%;
		width: 100%;
		height: 2px;
		transition: left .3S;
		}
	body>header>div>nav>ul>li>a:hover:after {
		left: 0;
		}

	body>header>div>nav>ul>li>a>span:first-of-type{ /* ICONOS MENU NAVEGACION */
	margin-right: .2em;
	}




	
	#menuHam{ /*BOTON INPUT CHECKBOX HAMBURGUESA*/
		display: none;
	}
	body>header>div>nav>ul>li:nth-of-type(1){ /* ICONOS HAMBURGUESA Y LOGIN*/
		display: none;
	}

	#popup {
   		display: none;
	}

	/* FORMULARIO INICIO SESION */
	body>header>div>form{
	margin-left: 6px;
    margin-top: 14px;
	font-size: 12px;

	}
	body>header>div>form>input[type="submit"]{
		text-align: center;
		width: 28px;
		cursor:pointer;
		border-radius: 5px;
		font-weight: bold;
	}
	body>header>div>form>input[type="text"],body>header>div>form>input[type="password"]{
		width: 80px;
		font-weight: bold;
		padding: 1px;
	}
	body>header>div>nav>ul>li{
		display: inline;
	}

	body>header>div>h1{
		margin-top:10px;
	}

	/* TITULOS PAGINAS */

	body>section>h2{
		border-bottom: 1px solid;
    	padding-bottom: .3em;
    	/* padding-left: .55em; */
    	margin: .4em;
    	text-align: center;
	}

	/* FONDO DE WEB */
	.fondoG{
  
	}


	/* LISTA FOTOS */

	body>section>div{
		display:flex;
		flex-direction: row; /* pone los elementos en forma de fila*/
		flex-wrap: wrap; /* permite que los elementos flex sean colocados en varias lineas */
		justify-content: space-evenly;
	}

	
	body>section>div>article{
		min-width: 350px;
		max-width: 500px;
		margin:.5em;
		flex-grow: .5; /* valor de crecimiento del elemento cuando tiene espacio */ 
		flex: 0 0 30%;
	}


	

	body>section>div>article>div>header>a{
		text-decoration: none;
	}
	body>section>div>article>div>header>a>h3{
		margin: 0;
		padding-top: .3em;
    	padding-left: .4em;

	}

	body>section>div>article>div>p{
		flex-grow: 1;

	}
	
	div.imgArticulo{
	width: 100%;
    height: 245px;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/foto1.jpg");

	}

	body>section>div>article>footer>h4{

		text-overflow: ellipsis;
		overflow:hidden;
		white-space: nowrap;
		display: inline-block;
		width: 190px;
		margin: 0;
		padding-left: .5em;
		padding-top: .3em;
	}

	body>section>div>article>footer>h6{
		margin: 0;
		padding: 0;
		padding-left: 1em;
		padding-bottom:  .4em;
	}

	/* FOOTER WEB */
	
	body>footer{
	position: fixed;
	overflow: hidden;
	padding:.5em;
 	width: 100%;
    bottom: 0;
    font-size: 80%;
    text-align: center;
    
}
	body>footer>p{
	margin:0;
	display: inline-block;
	padding: 0 10px;
}
	body>footer>a{
	text-decoration: none;
	margin:0;
	display: inline-block;
	padding: 0 10px;
	border-left: 1px solid;
}


	/* CLASE FORMULARIO REGISTRO USUARIO */  /* FORMULARIO BÚSQUEDA */

	.flexForm>li:not(:nth-child(5)){
		display: flex;
  		flex-wrap: wrap;
  		align-items: center;
	}

	.flexForm>li>label{
  		flex: 1 0 120px;
  		max-width: 330px;
	}

	.flexForm > li > label + *{
  		flex: 1 0 330px;
	}

	.flexForm>li>input[type="submit"]  {
		cursor: pointer;
	    border: none;
	    background: #333;
	    color: #f2f2f2;
	    text-transform: uppercase;
	    letter-spacing: .09em;
	    border-radius: 10px;
	    margin: auto;
	    margin-bottom: 40px;
	}
	.flexForm>li>input[type="submit"]:hover{
		background: rgba(0,0,0,0);
		color: #00b5cb;
		box-shadow: inset 0 0 0 3px #00b5cb;
	}

	.container {
 	 	width: 80%;
  		max-width: 1200px;
 		margin: 0 auto;
	}

	.container * {
	  box-sizing: border-box;
	}

	.flexForm {
	  list-style-type: none;
	  padding: 0;
	}

	.flexForm {
	  max-width: 800px;
	  margin: 0 auto;
	}

	
	.flexForm > li {
	  margin-bottom: 20px;
	}

	.flexForm li label{
	  padding: 8px;
	  font-weight: 300;
	  letter-spacing: .09em;
	  text-transform: uppercase;
	}



	.flexForm li input:not([type='checkbox']),
	.flexForm li textarea {
	  padding: 15px;
	  border: none;
	  font-size: 100%;
	}

	




	/* solicitar album formulario*/

	body>section>article>article>form{
			text-align: center;
		}
	
	body>section>article>article>form{
	 		margin: .4em 0;
 			width: 42%;
  			float: left;
  			box-sizing: border-box;
	}

/*DETALLE DE FOTO*/

	body>section>article>article>div>h3 {
    border-bottom: 1px solid #234;
    padding-bottom: .3em;
    /* padding-left: .55em; */
    margin: .4em;
    text-align: center;   
     color: black;

}
body>section>div>article>h3{
    display: none;
}
    body>section>article>article>div>img{
    border: 4px solid #000000;
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
    height: 360px;
    }



	/*Respuesta solicitar*/

body>section>article>article{
	text-align: center;
  
}
body>section>article>article>div{
		-webkit-border-radius: 35px 35px 35px 35px; 
		border: 12px solid #020202;
		    margin-top: .2em;
		    margin-bottom: .2em;
}
body>section>article>article>div>footer{
color: black;
}

/* MI CUENTA */

body>section>article#menuUser{
	text-align: center;
}




	



